# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.pyc

# Prefect
.prefect/
.prefectignore

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3
postgres_data/
redis_data/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
secrets/pyopensky-settings
Running
